
<div class="container mt-5">
    <!--Error messages -->
    <div *ngIf="errormesg" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> {{errormesg}} </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

    <form [formGroup]="userForm" (ngSubmit)="userSubmit()">

        <div class="col-lg-8 mt-2">
            <input type="text" class="form-control" formControlName="fullname" placeholder="Enter fullname">
        </div>

        <div class="col-lg-8 mt-2">
            <input type="text" class="form-control" formControlName="email" placeholder="Enter Email">
        </div>

        <div class="col-lg-8 mt-2">
            <input type="text" class="form-control" formControlName="mobile" placeholder="Enter Mobile">
        </div>

        <div class="col-lg-4 mt-2">
            <button class="btn btn-success"> Créer </button>
        </div>

    </form>

</div>